{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Woops</h1>
                <h2>{{ message }}</h2>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
