{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {{ include('AppBundle::header.html.twig') }}
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                <label for="todo_list_name">List name: </label>
                <input class="form-control" type="text" id="todo_list_name" name="todo_list[name]" required="required">
                <br>

                <span>
                    <button class="btn btn-primary" type="submit">Create list</button>
                </span>
                {% do form.name.setRendered %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
