{% if list.tasks is not empty %}
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-3">Created on:</th>
            <th class="col-md-2">Status</th>
            <th class="col-md-4">Description</th>
            <th class="col-md-3">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in list.tasks %}
            <tr>
                <td>{{ task.createdOn|date('Y-m-d H:i') }}</td>
                <td>
                    {% if task.isCompleted %}
                        Finished
                    {% else %}
                        Not Finished
                    {% endif %}
                </td>
                <td>{{ task.description }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{{ path('change_task_status', {'taskId': task.id }) }}">Change
                        status</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('delete_task', {'taskId': task.id }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
